* {
    margin: 0;
    padding: 0;
}
body {
    background: #181818;
}

#header {
    width: 100%;
    height: 100px;
    background: rgba(100, 100, 100, 0.5);
    text-align: center;
    font-size: 150%;
    padding-top:20px;
}
#header h1{
    text-transform: uppercase;
    color: #FF0000;
}
#nav{
    height: 80px;
    padding-top: 10px;
}

#nav-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-li-a {
    flex: 1;
    margin: 50px;
    font-size: 2em;
    color: #4d5edd;
}

#main {
    display: flex;
}

#left-column {
    flex: 1;
}

#main-column {
    flex: 3;
}
#main-column h2, #main-column h3{
    color: #e2cda3;
}
#main-video {
    width: 97%;
    aspect-ratio: 16/9;
}

#main div * {
    margin-left: 10px;
    margin-right: 10px;
}

#textarea-lyrics{
    background: #222333;
    color: #cccc4f;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 98%;
    padding: 0 20px;
    font-family: "Segoe UI";
    line-height: 125%;
    font-size: 1.25em;
    margin-top: 20px;
}

.left-bar-card{
    width: 95%;
    border: 1px solid #333;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.left-bar-card h3{
    color: #e2cda3;
}
.left-bar-thumbnail {
    width: 95%;
}

